.appoinment-section {
    background-size: cover;
    background-position: center top;
}
.appoinment-content span {
	font-size: 18px;
	font-weight: 500;
	color: #e12454;
}
.appoinment-box.white {
    background-color: #fff;
}
.appoinment-content {
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
}
.appoinment-content h1 {
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 30px;
}
.appoinment-box .btn {
    width: 100%;
}
.professinals-list li {
	line-height: 28px;
	color: #697a8d;
	margin-bottom: 20px;
}
.professinals-list li i {
	width: 30px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	color: #8fb569;
	margin-right: 20px;
	float: left;
	border: 2px solid #8fb569;
	font-size: 12px;
	transition: .4s;
}
.professinals-list li:hover i {
	background: #8fb569;
	color: #fff;
}