.home__container {
	padding: 25px 80px;
	/* min-width: 100vw;
	min-height: 950px; */
	/* min-width: 100vw;*/
	min-height: 750px; 
	background: url('../img/rah-assets/banner.png');
	/* background-position: top; */
	/* object-fit: contain; */
	background-repeat: no-repeat;
	background-size: 100%;
	/* background-attachment:fixed */
}
.Navbar{
	display:flex;
	flex: 100%;
}
.logo{
	display: flex;
	flex: 10%;
	height: 10%;
	width: 10%;
	
}
.Nav-menu{
	display: flex;
	flex:90%;
	justify-content: flex-start;
}
.Nav-cont{
	display: flex;
	flex: 95%;
}
.topnav {
	display: flex;
 flex: 80%; 
position: relative;
overflow: hidden;
justify-content: flex-start;
	
}
.topnav a {
	/* float: left; */
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	/* identical to box height, or 26px */
	font-feature-settings: 'salt' on, 'liga' off;
	color: #FFFFFF;
}

/* Change the color of links on hover */

.topnav a:hover {
	color: #008489;
	;
}

/* Add a color to the active/current link */

.topnav a.active {
	color: white;
}
.login-section {
	 flex: 20%; 
	justify-content: flex-end;
}
 .login-section .search-btn {
	
	padding: 6px 10px;
	
	background: transparent;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.login-section .login-btn {
	
	padding: 6px 10px;
	
	font-size: 17px;
	border: none;
	cursor: pointer;
	background: #16292A;
	border-radius: 8px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	/* identical to box height, or 26px */
	text-align: center;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #FFFFFF;
}
.ham{
	display: none;

	/* height: 30px;
	width: 28px; */
	background-color: transparent;
}
@media screen and (max-width: 1150px) {
	
	.ham{
	border: none;
		justify-content:flex-end; 
		display:flex;
		flex: 4%;
		background-color: transparent;
		/* height: 30px;
		width: 28px; */
   
	}
	.Nav-cont{
		display: none;
	}
	.Testing{
		margin-top: 35px;
		align-items: center;
		justify-content: center;
	}
	.Testing a{
		
	
		float: none;
		display: block;
		text-align: center;
		width: 100%;
		margin: 0px;
		padding: 2px;
		color: #f2f2f2;
	
	
	text-decoration: none;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	/* identical to box height, or 26px */
	font-feature-settings: 'salt' on, 'liga' off;
	color: #FFFFFF;
	}
	 
	.Testing a:hover {
		color: #008489;
		;
	}
	
	/* Add a color to the active/current link */
	
	.Testing a.active {
		color: white;
	}
	.Testing .search-btn {
	
		padding: 2px;
		
		background: transparent;
		font-size: 10px;
		border: none;
		cursor: pointer;
	}	
	.Testing .login-btn {
	
		padding: 2px;
		
		font-size: 10px;
		border: none;
		cursor: pointer;
		background: #16292A;
		border-radius: 8px;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		
		/* identical to box height, or 26px */
		text-align: center;
		font-feature-settings: 'salt' on, 'liga' off;
		color: #FFFFFF;
	}
   
}


.page-content{
	margin-top: 80px;
	display: flex;
	
}
.page-content .leftslide{
	margin-top: 100px;
	font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 64px;
justify-content: flex-start;
display: flex;


/* or 102px */

letter-spacing: -0.01em;

color: #FFFFFF;
	flex: 50%;
}
.page-content .rightslide{
	flex: 50%;
	display: flex;
	justify-content: flex-end;
    
}
.card {

	background-color:white;
	width: 412.04px;
    height: 487px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	display: flex;
	color:black;
	
	
	
	
  }
  .card-contents{
	

	
  }
  .card-contents .firstline{
	font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
margin-top: 60px;
margin-left: 61.02px;
color: #C8C8C8;

  }
.card-contents .secline{
	font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 37px;
line-height: 160%;
/* or 59px */

letter-spacing: -0.01em;
margin-left :61px;
margin-top: 19px;
color: #263544;
}
.search-loc{
	margin-top: 20px;
	display:flex;
	flex:100%;

	margin-left: 61.02px;
}
.search-loc .loc-icon{
	margin-top: 10px;
	display: flex;
	flex: 10%;
	justify-content: flex-start;
}
.search-loc .menu{
	display: flex;
	flex-direction: column;
	flex: 90%;
	justify-content: flex-start;
}
.menu-options .input{
	font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 15.0476px;
line-height: 18px;

color: #C8C8C8;
}
.menu-options .dropdown{
	border: none;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 24px;
/* or 38px */
width: 80%;
letter-spacing: -0.01em;

color: #263544;
}
.card-button{
	margin-left: 60px;
	width: 277px;
	margin-top: 40px;
	text-align: center;
	border: 2px solid #00ACB2;
box-sizing: border-box;
border-radius: 87.05px;
}
.line{
width: 310px;
height: 0px;
margin-left:61.02px ;

border: 2px solid #ECECEC;

}

@media (max-width: 1150px) {
	.page-content {
	  flex-direction: column;
	}
	.page-content .leftslide{
		margin-top: 50px;
		font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	justify-content: flex-start;
	display: flex;
	
	
	/* or 102px */
	
	letter-spacing: -0.01em;
	
	color: #FFFFFF;
		flex: 50%;
	}
  }