.doctors {
  padding: 4% 10%;

  background: #efefef;
}

.header8 {
 

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
 
  /* identical to box height */

  display: flex;
  align-items: center;
text-align: center;
  color: #262626;

  margin-bottom: 30px;
}

.cards8 {
  /* display: flex;
  flex-direction: row;
  overflow :auto;
  justify-content: space-between; */
  display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
  flex: 100%;
}
.cards8::-webkit-scrollbar {
	display: none;
}  
.image8 img {
  width: 100%;
  height: auto;
}

.name8 {
  

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size:97%;
  
  /* identical to box height */

  
  align-items: center;


  color: #253544;

  padding: 8%;
}

.desc {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10%;
  
  /* or 171% */

  font-feature-settings: "pnum" on, "lnum" on, "salt" on, "liga" off;

  color: #667587;
}

li {
  list-style: disc;
  margin-left: 15%;
  margin-bottom: 2%;
}

li span {
  position: relative;
  left: -0.7em;
}

.button8 {
  display: flex;
  flex-direction: row;
 align-items: center; 
  padding: 1.5%;

  width: 70%;
  height: auto;

  background: #1fb6ba;
  box-shadow: 0px 8px 24px rgba(31, 182, 186, 0.25);
  border-radius: 30px;

  margin-top: 6%;
  margin-left: 7.77%;
}

.icon8 {
  background: #ffffff;
  border-radius: 50%;
  padding: 4%;
  /* margin-right: 10px; */
}

.text8 {
  

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 88%;

  
  align-items: center;

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}
.card8{
  flex: 0 0 auto;
	background-color: white;
	text-align: left;
	position: relative;
	width: 32%;
	height: auto;
	margin-left: 1rem;
	padding-bottom: 30px;
}

@media screen and (max-width: 1155px) {
  /* .doctors {
    padding: 40px 50px;
  } */
  
  .card8{
    flex: 0 0 auto;
    align-items: center;
    background-color: white;
    text-align: left;
    position: relative;
    width: 46.5%;
    height: auto;
    margin-left: 1rem;
    padding-bottom: 30px;
   
  }
}

@media screen and (max-width: 758px) {

  /* .doctors {
    padding: 40px 50px;
  } */
  
  .card8{
    flex: 0 0 auto;
    background-color: white;
    text-align: left;
    position: relative;
    width: 95%;
    height: auto;
    margin-left: 1rem;
    padding-bottom: 30px;
    align-items: center;
   
  }
}



/* --------------------Responsive---------------- */
@media (min-width: 250px) and (max-width: 660px) {
  .doctors {
    padding: 40px 40px;
  
    background: #efefef;
  }
  .doctors .card8{
      width: 90%;
  }
}