.procedure-cont{
    height: 360px;
    width: 100vw;
}

.procedure-body{
    margin-top: 72px;
    margin-left: 100px;
}

.procedure-title{

width: 177px;
height: 38px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
color: #262626;
}

.procedure-title-text{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.procedures{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.procedure-item{
    margin-right: 20px;
}